.CreateProject {
  position: relative;

  display: grid;
  place-items: center;
  width: 100%;
  margin: 0 0 2rem 0;

  &::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 50%;
    background-color: var(--active-color);
    bottom: -1.7rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.createBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 12px;
  background-color: var(--special-hover-color);

  &:hover {
    background-color: var(--special-color);
  }

  .icon {
    width: 25px;
    height: 25px;
    color: var(--text-inv-color);
  }
}
