.AddTask {
  gap: 20px;
}
.createBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 12px;

  .icon {
    width: 25px;
    height: 25px;
    color: var(--text-inv-color);
  }
}
