.Input {
  border: 1px solid var(--special-color);
  border-radius: var(--border-radius-S);
  padding: 6px 18px;
  transition: background-color 0.2s ease;
  &:focus {
    background-color: var(--secondary-color);
  }
}
.disabled {
  background-color: var(--disabled-color);
}
.clear {
  all: unset;
}
