.wrapper {
  position: relative;
  display: grid;
  width: 100%;
}
.Input {
  border: 1px solid var(--special-color);
  border-radius: var(--border-radius-S);
  padding: 6px 18px;
  transition: background-color 0.2s ease;
  &:focus {
    background-color: var(--secondary-color);
  }
}
.disabled {
  background-color: var(--disabled-color);
}
.clear {
  all: unset;
}
.error {
  position: absolute;
  top: 110%;
  left: 0.3rem;
  font-size: var(--font-S);
  color: var(--error-color);
  animation: animation 0.5s forwards;
}

@keyframes animation {
  0% {
    left: -0.3rem;
  }
  100% {
  }
}
