.TaskList {
  position: relative;
  border-radius: var(--border-radius-S);
  flex: 0 1 30%;
  padding: 0 10px 0 0;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--text-inv-color);
  overscroll-behavior: none;
}
