.ProjectList {
  display: grid;
  gap: 1.5rem;
  overflow: auto;
  padding: 15px;
  margin: -15px;
  overscroll-behavior: none;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--back-switcher-icon);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--main-color);
  }
}
.preLoad {
  height: 100%;
  text-align: center;
  font-family: var(--font-main);
  text-transform: uppercase;
  border-radius: var(--border-radius-S);
  padding: 20px;
  h2 {
    font-size: var(--font-L);
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    background-color: var(--special-hover-color);
    padding: 10px;
    border-radius: var(--border-radius-S);

    color: var(--text-inv-color);
    font-family: var(--font-secondary);
    font-size: var(--font-M);
  }
}
