.DeleteProject {
  margin-top: 2rem;
}
.delete_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding-left: 12px;
  background-color: var(--error-color);
  &:hover {
    background-color: var(--error-hover-color);
  }
}
