a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
}
.Link {
  position: relative;
  color: var(--text-color);
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
    color: var(--text-secondary-color);
  }
}
