.Task {
  position: relative;
  flex: 1 1 70%;
  padding: 20px;
  border: 2px solid;
  border-color: var(--special-border-color);
  border-radius: var(--border-radius-S);
  box-shadow: var(--box-shadow);

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--text-inv-color);

  transition: border-color 0.2s ease-in-out;

  .icon {
    height: 65px;
    width: 65px;
    fill: var(--special-color);
  }
}
.fulfiled {
  border-color: var(--active-color);
}
.unfulfiled {
  border-color: var(--error-color);
}
.noData {
  font-family: var(--font-main);
  gap: 1.5rem;
  h1 {
    font-size: var(--font-XL);
    font-weight: bold;
  }
  p {
    font-size: var(--font-L);
  }
}
.name {
  font-size: var(--font-XL);
  font-weight: bold;
}
.text {
  margin: 20px 0 0 0;
  text-align: justify;
}
.status {
  font-family: var(--font-main);
  position: absolute;
  top: 20px;
  right: 20px;

  border-radius: var(--border-radius-S);
  padding: 8px 16px;
  box-shadow: var(--box-shadow);
  background-color: var(--active-color);
}
.form {
  margin-top: 20px;
}
.wrapperInput {
  display: grid;
  margin-bottom: 15px;
  gap: 4px;

  &:last-child {
    margin: 0;
  }

  label {
    font-size: var(--font-M);
  }
  .inputText {
    width: 100%;
    min-height: 150px;
  }
  .date {
    flex: 1 1 40%;
  }
}
.wrapperToggle {
  flex-wrap: wrap;
  flex: 1 1 100%;
  gap: 5px;
}
.toggle {
  flex: 1 0 auto;
}
.saveBlock {
  margin-top: 30px;
}
