.ProfileCard {
  gap: 1rem;
}
.icon {
  display: block;
}
.notifications {
  margin-right: 1rem;
  color: var(--text-color);
  span {
    background-color: var(--special-hover-color);
  }
}
.name {
  font-size: var(--font-M);
}
.userBlock {
  cursor: pointer;
  gap: 1rem;
  padding: 0.6rem 0.4rem;
  border-radius: var(--border-radius-XL);
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--secondary-color);
  }
}
