.ProfileCard {
  gap: 20px;
}
.icon {
  cursor: pointer;
  display: block;
}
.notifications {
  cursor: pointer;
  margin-right: 10px;
  color: var(--text-color);
  span {
    background-color: var(--special-hover-color);
  }
}
.name {
  font-size: var(--font-M);
}
