.app {
  --font-main: 'IBM Plex Sans', serif;
  --font-secondary: 'Mulish', serif;

  --font-XS: 12px;
  --font-S: 14px;
  --font-M: 16px;
  --font-L: 18px;
  --font-XL: 24px;
  --font-XXL: 28px;
  --font-LOGO: 36px;

  --z-level-1: 5;
  --z-level-2: 10;
  --z-level-3: 15;
  --z-level-4: 20;

  --border-radius-S: 2px;
  --border-radius-M: 6px;
  --border-radius-L: 8px;
  --border-radius-XL: 12px;
}
