.Webrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 280px auto;
  gap: 5rem;

  margin: 0 auto;
  padding: 60px 15px;

  @media screen and (max-width: 430px) {
    display: block;
    padding: 30px 8px;
  }
}
