.Textarea {
  border: 1px solid var(--special-color);
  border-radius: var(--border-radius-S);
  resize: vertical;
  padding: 10px;

  transition: background-color 0.2s ease-out;
  &:focus {
    outline: none;
    background-color: var(--secondary-color);
  }
}
.disabled {
  background-color: var(--disabled-color);
}
