.appDark {
  --main-color: #121212;
  --secondary-color: #1e1e1e;

  --special-color: #009688;
  --special-hover-color: #007364;
  --special-border-color: rgba(0, 150, 136, 0.5);

  --active-color: #00cbb8;
  --error-color: #e57373;
  --error-hover-color: #d32f2f;

  --disabled-color: rgba(255, 255, 255, 0.2);
  --box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.7);
  --box-shadow-inv: inset 11px -11px 16px 3px rgb(56 56 56 / 40%);
  --box-shadow-hold: 0px 0px 15px 3px rgba(107, 164, 189, 0.7);
  --box-shadow-risk: 0px 0px 15px 3px rgba(154, 55, 87, 0.7);

  --modal-back-color: rgba(112, 108, 108, 0.3);
  --modal-back-hover-color: rgba(112, 108, 108, 0.1);

  --switcher-color: #64b5f6;
  --back-switcher-icon: #0b4757;

  --text-color: #e0e0e0;
  --text-secondary-color: #b0bec5;
  --text-inv-color: #000000;
  --text-inv-secondary-color: #212121;
}
