.checkbox {
  cursor: pointer;
}
.checkboxLabel {
  cursor: revert;
  position: relative;
}
input[type='radio'] {
  appearance: none;
  background: var(--secondary-color);
  border: 2px solid var(--special-hover-color);
  height: 25px;
  width: 25px;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
}
input[type='radio']::before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}
input[type='radio']:checked::before {
  border: 5px solid var(--active-color);
  border-radius: 100%;
  background: var(--active-color);
  margin: 4px;
}
input[type='radio']:focus {
  outline: solid 1px var(--active-color);
  outline-offset: 2px;
}
